body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu, .content {
  text-align: center;
}

.content {
  padding-top: 20px;
}

a {
  padding: 10px;
  font-size: 19px;
  color: #00B7FF;
  text-decoration: none;
}

img {
  max-width: 400px;
}
